@charset "utf-8";

/* 사업소개 > 사업분야01 페이지 */


#business_pg{
    padding-top: 120px;
}

/* 상단 서브 nav 시작 */
#business_pg .sub_nav_top{
    background: url(../images/sub_top_02.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 286px;
    position: relative;
}
#business_pg .sub_nav_bottom ul{
    margin: 0 auto;
    width: 60%;
    display: flex;
}
/* 상단 서브 nav 끝 */

/* 내용 시작 */
.tab_btn{
    width: 100%;
    border-bottom: 1px solid #000;
    margin-bottom: 50px;
}
.tab_btn input[type="radio"]{
    display: none;
}
.tab_btn label{
    font-size: 14px;
    text-align: center;
    width: 13%;
    padding: 12px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-bottom: none;
    cursor: pointer;
}
/* 선택된 해당 탭 버튼 */
.tab_btn label.on{
    border: 1px solid #000;
    border-bottom: none;
    font-weight: bold;
}
.tab_wrap .tab1,
.tab_wrap .tab2,
.tab_wrap .tab3,
.tab_wrap .tab4{
    flex-wrap: wrap;
    margin-bottom: 80px;
    display: none;
}
/* 선택된 해당 탭 나타나게 함 */
.tab_wrap .tab1.on, 
.tab_wrap .tab2.on,
.tab_wrap .tab3.on, 
.tab_wrap .tab4.on{
    display: flex;
}
.tab_img{
    height: 350px;
    overflow: hidden;
    width: 55%;
    background: no-repeat center/cover;
}
.tab1 .tab_img{
    background-image: url(../images/work1.jpg);
}
.tab2 .tab_img{
    background-image: url(../images/work.jpg);
}
.tab3 .tab_img{
    background-image: url(../images/work1.jpg);
}
.tab4 .tab_img{
    background-image: url(../images/work.jpg);
}
ul.tab_text{
    padding-left: 30px;
    text-align: left;
    width: 45%;
}
ul.tab_text li{
    margin: 5px 0 20px;
}
ul.tab_text li h3{
    font-size: 18px;
}
ul.tab_text li span{
    font-weight: 600;
    color: #5d5d5d;
    display: inline-block;
}